<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="path/to/reset.css">
</head>
<body>
    <nav class="navbar-container">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="work">Work</a></li>
          <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav> 
    </div>
    <h1>Gallery</h1>
    <br>  
        <div class="container-gallery">

            <div class="img-gallery">
                <img src="/images/gallery5.png">
                <p class="subtitles">"On my way to paradise", signed edition of 300, image approx 45 x 30 cm</p>    
            </div>

            <div class="img-gallery">
                <img src="/images/gallery3.png" >
                <p class="subtitles">"All we ever wanted", signed edition of 300, image approx 40 x 30 cm</p>
            </div>

            <div class="img-gallery">  
                <img src="/images/galeery2.png">
                <p class="subtitles">"The Visitor", signed edition of 300, image approx 30 x 45 cm</p>
            </div>    

            <div class="img-gallery">
                <img src="/images/gallery4.png">
                <p class="subtitles">"Tok Tok Tok!",signed edition of 300, image approx 30 x 40 cm </p>
             </div> 
            
        </div>
<br><br>
        <button class="buttonReturnHome"><a href="/" class="returnText">Return to Homepage</a></button>
</body>
</html>