<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Basic Website Express</title>
    <!-- don't forget to link your styles -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="path/to/reset.css">
    
  </head>

  <body>
     <nav class="navbar-container">
      <ul class="nav-links">
        <li><a href="home">Home</a></li>
        <li><a href="about">About</a></li>
        <li><a href="work">Work</a></li>
        <li><a href="gallery">Gallery</a></li>
      </ul>
     </nav>
    
    <div class="bckgd"></div>
      <h1>Welcome</h1>
   </div>
  </body>
</html>