<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="path/to/reset.css">
</head>
<body>
    <nav class="navbar-container">
        <ul class="nav-links">
          <li><a href="/">Home</a></li>
          <li><a href="about">About</a></li>
          <li><a href="work">Work</a></li>
          <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>  
   
    <h1>Work</h1>
    <br>  
    <h2 class="type-work-title">Books</h2>
    <div class="work-books-text-container">
    <p>"Since 1996, much of my time has been devoted to writing and illustrating picture books, which have reached a broad readership in Australia and overseas, having been translated into several languages. 
        While I describe them as picture books, they are not specifically children's literature and appeal to a general audience, experimenting with different kinds of illustrated narrative." Shaun Tan</p>
    </div><br>
    <div class="container-images">
        <img src="/images/One.png" id="bookCover1">
        <img src="/images/4.1BookCover.png" id="bookCover2">
        <img src="/images/2.0BookCicada.png" id="bookCover3">
        <img src="/images/6.1BookCover.png" id="bookCover4">
    </div><br>
    <h2 class="type-work-title">Small Paintings</h2>
    <div class="work-books-text-container">
    <p>Shaun Tan regularly paints small observational scenes on 20x15cm wooden panels, something he has been doing since his mid-teens, originally inspired by the 9x5 inch sketches of late 19th century Australian ‘Heidelberg’ painters, who used cigar box lids. He finds that this small size encourages concise attention to light and atmosphere, and makes it possible to respond to a subject relatively quickly, especially important when painting on location.</p>
    </div>
    <div class="container-smallPaintings">
        <img src="/images/smallPainting1.png" class="p1">
        <img src="/images/smallPainting2.png" class="p1">
        <img src="/images/smallPainting3.png" class="p1">
        <img src="/images/smallPainting4.png" class="p1">
        <img src="/images/SmallPainting7.png" class="p1">
       
    </div>
    <br>
    <h2 class="type-work-title">Film</h2>
    <div class="work-books-text-container">
    <p>His first film project is a 15 minute animated adaptation of his picture book The Lost Thing (2000), produced by Passion Pictures in association with Screen Australia, which went on to play at international festivals, win an Annecy Crystal and an Academy Award in 2011. You can learn more about that project <a href="https://www.shauntan.net/lost-thing-film">here</a>, which includes resources for teachers.</p>
    </div>
    <br>
    <button class="buttonReturnHome"><a href="/" class="returnText">Return to Homepage</a></button>
 </body>
</html>