<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Work</title>
</head>
<body>
    <h1>Work</h1>
    <h3>Books</h3>
    <p>Since 1996, much of my time has been devoted to writing and illustrating picture books, which have reached a broad readership in Australia and overseas, having been translated into several languages. 
        While I describe them as picture books, they are not specifically children's literature and appeal to a general audience, experimenting with different kinds of illustrated narrative.</p>
    <div class="container-images">
        <img src="/public/images/One.png">
        <img src="/public/images/1.2BookTalesof....png">
    </div>
    <h3>Small Paintings</h3>
    <p>Shaun Tan regularly paints small observational scenes on 20x15cm wooden panels, something he has been doing since his mid-teens, originally inspired by the 9x5 inch sketches of late 19th century Australian ‘Heidelberg’ painters, who used cigar box lids. He finds that this small size encourages concise attention to light and atmosphere, and makes it possible to respond to a subject relatively quickly, especially important when painting on location.</p>

    <h3>Film</h3>
    <p>His first film project is a 15 minute animated adaptation of his picture book The Lost Thing (2000), produced by Passion Pictures in association with Screen Australia, which went on to play at international festivals, win an Annecy Crystal and an Academy Award in 2011. You can learn more about that project <a href="https://www.shauntan.net/lost-thing-film">here</a>, which includes resources for teachers.</p>
    <button><a href="/">Return to Homepage</a></button>
 </body>
</html>